node_modules/
.pnpm-store/

frontend/.next/
frontend/out/
frontend/build/

.env
.env*.local
backend/.env
frontend/.env.local

# Logs
*.log
npm-debug.log*

.DS_Store
.vscode/
.idea/
node_modules

backend/scripts-migration/

# Built files
backend/dist/
shared/**/*.js
shared/**/*.js.map
shared/**/*.d.ts
shared/**/*.d.ts.map
